include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include pyproject.toml

recursive-include src *.py
recursive-include tests *.py
recursive-include examples *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
recursive-exclude * .git*
recursive-exclude * .mypy_cache
recursive-exclude * .pytest_cache
recursive-exclude * .coverage
recursive-exclude * htmlcov
recursive-exclude * dist
recursive-exclude * build
recursive-exclude * *.egg-info
